<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {% if site.logo %}
      <h1>
        <a href="/">
          <img class="logo" src="{{site.logo | relative_url}}" alt="Logo" />
        </a>
      </h1>
    {% endif %}
    <p class="about">
      {{ site.description }}
    </p>
    <section>
      {{ content }}
    </section>
    
    <footer>
      <div class="badges">
        <a href="https://podcasts.apple.com/us/podcast/embrace-the-adventure/id1585037067" target="_blank">
          <img src="/assets/img/badges/apple.svg" />
        </a>
        <a href="https://open.spotify.com/show/5U0rPTD8fDBf9SP2OCQzoD" target="_blank">
          <img src="/assets/img/badges/spotify.svg" />
        </a>
        <a href="https://music.amazon.co.uk/podcasts/3e6d2a47-4504-4f49-81aa-35f90a84bbc2/embrace-the-adventure" target="_blank">
          <img src="/assets/img/badges/amazon.png" />
        </a>
      </div>
      {{ site.copyright }}
    </footer>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J8N0R37XY3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-J8N0R37XY3');
    </script>
  </body>
</html>
